# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
.venv/
.venv311/
env/
venv/
ENV/

# Data and model artifacts
chest_xray/
netice.png

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
